[submodule "OpenGLWrapper"]
	path = OpenGLWrapper
	url = https://github.com/Drwalin/OpenGLWrapper.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
